.App {
  text-align: center;
  text-decoration: none;
}
  .footer
  {
    background-color: #ccc;
    color:white;
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
   
    text-decoration: none;
   
  }
  Link {
    text-decoration: none;
  }
  .footer-links
  {
    font-size: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:40px 0;
    text-decoration: none;
  }
  .footer-links Link
  {
    margin: 15px 0;
    color:#000;
    transition: width 3s;
    
  }
  .footer-links Link:hover
  {
    border: 1px solid #fff;
    font-weight: normal;
    
    
  }
  .footer-links Link:active
  {
    border: 3px solid #fff;
    font-weight: bold;
    width:150px;
  }
  